/*Fontes importação*/
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,900&family=Kalnia+Glaze:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&family=Silkscreen:wght@400;700&family=Teko:wght@300..700&family=Whisper&display=swap");
* {
  padding: 0;
  margin: 0;
}

#cabecalho {
  background-color: #f2f2f2;
  display: flex;
  color: white;
  clear: both;
  align-items: center;
  justify-content: center;
  height: 19rem;
}

.name-cabecalho {
  text-decoration: none;
  background: linear-gradient(#0a0d0c, #4a5958, #0f1d26);
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 10rem;
  align-items: center;
  font-family: "Rock Salt", serif;
  font-style: normal;
}

ul > li {
  text-align: center;
  margin-top: 80px;
  font-family: "Teko", sans-serif;
}

ul a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 40px;
  margin-left: 30px;
}

#conteudo {
  background-color: #0f1d26;
  width: 100%;
  height: auto;
  float: left;
  color: #f2f2f2;
  position: relative;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  position: relative;
  bottom: 80px;
  right: 25px;
}

.conteudo-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.conteudo-div h1 {
  margin-left: 4vh;
  font-family: "Whisper", cursive;
  font-size: 6rem;
}
.conteudo-div h6 {
  margin-left: 20px;
  font-size: 2rem;
  font-family: "Teko", sans-serif;
}

.p1 /*texto capa*/ {
  padding: 1rem;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

.conteudo-div img {
  margin-right: 2rem;
  width: 40rem;
  height: auto;
}
.tabela {
  padding: 1rem;
  border-collapse: collapse;
  width: 21;
  height: auto;
}
.tabela th,
td {
  width: 90px;
  border: 1px solid #f2f2f2;
  padding: 8px;
  text-align: left;
  font-family: "Teko", sans-serif;
}
.tabela th {
  text-align: center;
}

#rodape {
  background-color: white;
  height: auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  clear: both;
  display: flex;
  justify-content: center;
}

.discografia {
  width: 60%;
}

#rodape p {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

/*adicionando o media para responsividade do site*/

@media screen and (max-width: 475px) {
  body {
    font-size: 12px;
  }
  #cabecalho {
    height: auto;
    width: 100%;
    text-align: center;
  }
  .name-cabecalho {
    font-size: 5rem;
    line-height: 1.2;
  }
  .conteudo-div {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .conteudo-div img {
    position: relative;
    margin-right: 5rem;
    width: 80%;
    height: auto;
  }
  .tabela {
    position: relative;
    top: 1rem;
    padding: 2rem;
  }
}
